/* ===========Google Fonts Start============ */
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:wght@500&family=Roboto&display=swap');
/* ===========Google Fonts End============ */


/* ============Body tag Start============= */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

/* ============Body tag End============= */
.container {
    width: 1000px;
    height: 574px;
    padding: 20px 25px;
    background-color: #161616;
    border-radius: 30px;
    margin-top: 30px;
}

/* ============Header Section Start============ */
.header {
    display: flex;
    justify-content: center;
}

.header-section {
    display: flex;
}

.header-content {
    color: white;
    width: 50%;
    padding: 0 30px;
}

.header-button {
    background-color: red;
    height: 40px;
    width: 115px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin-top: 10px;
}

.header-content h1 {
    font-weight: 700;
    font-size: 56px;
}

.header-image img {
    width: 530px;
    height: 593px;
}

/*============= Header Section End============= */


/*================ Main Section Start============= */
.main-content {
    padding: 130px 0;
}

.container-main {
    padding: 0 140px;
}

.main-content-wrapper {
    display: flex;
}

.side-menu-wrapper {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
}

.menu-button {
    color: #161616;
    width: 252px;
    background-color: white;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    padding: 17px 0;
    text-decoration: none;
}

.group {
    margin: 30px 0;
}

.menu-button a {
    text-decoration: none;
}

.blog {
    background-color: red;
    color: white;
}

.blog-section {
    margin-left: 24px;
}

.blog-section-warpper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.blog-card {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

/* ============Upcoming-match CSS Start ===============*/


.upcoming-match {
    padding: 20px;

}

.country {
    display: flex;
    text-align: center;
}

.country h2 {
    font-size: 18px;
    margin: 10px;
}

.flag-image img {
    width: 100%;
}

.country-content {
    text-align: center;
}

/* =====================Upcoming-match CSS End ==============================*/

.blog-image {}

.blog-image img {
    width: 100%;
}

.blog-content {
    padding: 20px;
}

.icon {
    display: flex;
}

.icon-two {
    margin-left: 50px;
}

/* ===============Main Section End ==============*/



/* =============Footer Section Start============= */
.footer-sec-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.footer {
    background-color: #161616;
    height: 400px;
}

.footer-title {
    padding: 30px 20px 0 0;
    border-bottom: .5px solid rgb(207, 207, 207);

}

.footer h1 {
    font-weight: 400;
    font-size: 40px;
    color: white;
    text-align: center;
}



.footer-menu a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    margin-top: 10px;
}

.social-icon {
    color: white;
    text-align: center;
    padding-top: 30px;
}

.fa-brands {
    font-size: 35px;
    margin-left: 15px;
}

/*================ Footer Section End================ */


/* ==========Responsive Website Start =================*/

/* Responsive for Small Device */

@media only screen and (max-width:688px) {

    .container {
        width: 334px;
        height: 500px;
        padding: 5px 10px;
        margin: 20px;
    }

    .header-section {
        flex-direction: column;
    }

    .header-content {
        color: white;
        width: 100%;
        padding: 0;
    }

    .header-content h1 {
        font-weight: 700;
        font-size: 22px;
        padding: 25px 55px 5px 55px;
        margin: 0;
    }

    .header-content p {
        height: 51px;
        width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 5px 0px 10px 48px;
        padding: 0;
    }

    .header-button {
        background-color: red;
        height: 40px;
        width: 115px;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        margin: 10px 0 15px 90px;
    }

    .header-image img {
        width: 273px;
        height: 278px;
        margin-left: 42px;
    }

    .container-main {
        padding: 0;
    }

    .main-content {
        padding: 25px 0;
    }

    .main-content-wrapper {
        flex-direction: column;
    }

    .blog-section {
        margin: 20px;
    }

    .blog-section-warpper {
        grid-template-columns: repeat(1, auto);

    }

    .side-menu-wrapper {
        background-color: white;
    }

    .menu-button {
        border: 1px solid rgb(206, 206, 206);
        border-radius: 15px;

    }

    .footer {
        height: 800px;
    }

    .footer-sec-menu {
        flex-direction: column;
        column-gap: 15px;
    }

    .footer-menu {
        line-height: 50px;
    }

}


/* Responsive Website End */